node_modules

# Output
.output
.vercel
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

lib-cov
*.seed
*.log
*.dat
*.out
*.pid
*.gz
*.DS_Store
.env
*.env
gcpconfig.json
.sass-cache

pids
logs
newrelic_agent.log

npm-debug.log
/temp
/tmp
/temp/*
/tmp/*
.idea
.build/*
.build
node_modules/*
*/node_modules/*
repos/*
repos

.settings

**/node_modules/
**/.svelte-kit/