@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	.font-gotham {
		font-family: 'Gotham', sans-serif;
	}

	.font-montserrat {
		font-family: 'Montserrat', sans-serif;
	}
	body {
		@apply bg-white dark:bg-dark-4 text-dark dark:text-white text-center;
	}

	h1,
	h2,
	h3 {
		font-family: 'Gotham', sans-serif;
		letter-spacing: 0.05em;
		text-transform: uppercase;
	}

	h4,
	h5,
	h6,
	a,
	button,
	p,
	div,
	span {
		font-family: 'Montserrat', sans-serif;
		letter-spacing: 0.1em;
	}

	:root {
		@apply font-gotham font-montserrat antialiased tracking-wide text-navy dark:text-white;
	}

	@font-face {
		font-family: 'Gotham';
		src: url('/fonts/Gotham/Gotham-Thin.otf') format('opentype');
		font-weight: 100;
		font-style: normal;
	}

	@font-face {
		font-family: 'Gotham';
		src: url('/fonts/Gotham/Gotham-XLight.otf') format('opentype');
		font-weight: 200;
		font-style: normal;
	}
	@font-face {
		font-family: 'Gotham';
		src: url('/fonts/Gotham/Gotham-Light.otf') format('opentype');
		font-weight: 300;
		font-style: normal;
	}
	@font-face {
		font-family: 'Gotham';
		src: url('/fonts/Gotham/Gotham-Book.otf') format('opentype');
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: 'Gotham';
		src: url('/fonts/Gotham/Gotham-Book.otf') format('opentype');
		font-weight: 400;
		font-style: normal;
	}

	@font-face {
		font-family: 'Gotham';
		src: url('/fonts/Gotham/Gotham-Medium.otf') format('opentype');
		font-weight: 500;
		font-style: normal;
	}
	@font-face {
		font-family: 'Gotham';
		src: url('/fonts/Gotham/Gotham-Medium.otf') format('opentype');
		font-weight: 600;
		font-style: normal;
	}

	@font-face {
		font-family: 'Gotham';
		src: url('/fonts/Gotham/Gotham-Bold.otf') format('opentype');
		font-weight: 700;
		font-style: normal;
	}

	@font-face {
		font-family: 'Gotham';
		src: url('/fonts/Gotham/Gotham-Black.otf') format('opentype');
		font-weight: 800;
		font-style: normal;
	}

	@font-face {
		font-family: 'Gotham';
		src: url('/fonts/Gotham/Gotham-Ultra.otf') format('opentype');
		font-weight: 900;
		font-style: normal;
	}

	@font-face {
		font-family: 'Gotham';
		src: url('/fonts/Gotham/Gotham-ThinItalic.otf') format('opentype');
		font-weight: 100;
		font-style: italic;
	}

	@font-face {
		font-family: 'Gotham';
		src: url('/fonts/Gotham/Gotham-XLightItalic.otf') format('opentype');
		font-weight: 200;
		font-style: italic;
	}
	@font-face {
		font-family: 'Gotham';
		src: url('/fonts/Gotham/Gotham-LightItalic.otf') format('opentype');
		font-weight: 300;
		font-style: italic;
	}
	@font-face {
		font-family: 'Gotham';
		src: url('/fonts/Gotham/Gotham-BookItalic.otf') format('opentype');
		font-weight: italic;
		font-style: italic;
	}

	@font-face {
		font-family: 'Gotham';
		src: url('/fonts/Gotham/Gotham-BookItalic.otf') format('opentype');
		font-weight: 400;
		font-style: italic;
	}

	@font-face {
		font-family: 'Gotham';
		src: url('/fonts/Gotham/Gotham-MediumItalic.otf') format('opentype');
		font-weight: 500;
		font-style: italic;
	}
	@font-face {
		font-family: 'Gotham';
		src: url('/fonts/Gotham/Gotham-MediumItalic.otf') format('opentype');
		font-weight: 600;
		font-style: italic;
	}

	@font-face {
		font-family: 'Gotham';
		src: url('/fonts/Gotham/Gotham-BoldItalic.otf') format('opentype');
		font-weight: 700;
		font-style: italic;
	}

	@font-face {
		font-family: 'Gotham';
		src: url('/fonts/Gotham/Gotham-BlackItalic.otf') format('opentype');
		font-weight: 800;
		font-style: italic;
	}

	@font-face {
		font-family: 'Gotham';
		src: url('/fonts/Gotham/Gotham-UltraItalic.otf') format('opentype');
		font-weight: 900;
		font-style: italic;
	}

	/* Montserrat */

	@font-face {
		font-family: 'Montserrat';
		src: url('/fonts/Montserrat/Montserrat-Thin.ttf') format('opentype');
		font-weight: 100;
		font-style: normal;
	}

	@font-face {
		font-family: 'Montserrat';
		src: url('/fonts/Montserrat/Montserrat-ExtraLight.ttf') format('opentype');
		font-weight: 200;
		font-style: normal;
	}
	@font-face {
		font-family: 'Montserrat';
		src: url('/fonts/Montserrat/Montserrat-Light.ttf') format('opentype');
		font-weight: 300;
		font-style: normal;
	}
	@font-face {
		font-family: 'Montserrat';
		src: url('/fonts/Montserrat/Montserrat-Regular.ttf') format('opentype');
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: 'Montserrat';
		src: url('/fonts/Montserrat/Montserrat-Regular.ttf') format('opentype');
		font-weight: 400;
		font-style: normal;
	}

	@font-face {
		font-family: 'Montserrat';
		src: url('/fonts/Montserrat/Montserrat-Medium.ttf') format('opentype');
		font-weight: 500;
		font-style: normal;
	}
	@font-face {
		font-family: 'Montserrat';
		src: url('/fonts/Montserrat/Montserrat-SemiBold.ttf') format('opentype');
		font-weight: 600;
		font-style: normal;
	}

	@font-face {
		font-family: 'Montserrat';
		src: url('/fonts/Montserrat/Montserrat-Bold.ttf') format('opentype');
		font-weight: 700;
		font-style: normal;
	}

	@font-face {
		font-family: 'Montserrat';
		src: url('/fonts/Montserrat/Montserrat-ExtraBold.ttf') format('opentype');
		font-weight: 800;
		font-style: normal;
	}

	@font-face {
		font-family: 'Montserrat';
		src: url('/fonts/Montserrat/Montserrat-Black.ttf') format('opentype');
		font-weight: 900;
		font-style: normal;
	}

	@font-face {
		font-family: 'Montserrat';
		src: url('/fonts/Montserrat/Montserrat-ThinItalic.ttf') format('opentype');
		font-weight: 100;
		font-style: italic;
	}

	@font-face {
		font-family: 'Montserrat';
		src: url('/fonts/Montserrat/Montserrat-ExtraLightItalic.ttf') format('opentype');
		font-weight: 200;
		font-style: italic;
	}
	@font-face {
		font-family: 'Montserrat';
		src: url('/fonts/Montserrat/Montserrat-LightItalic.ttf') format('opentype');
		font-weight: 300;
		font-style: italic;
	}
	@font-face {
		font-family: 'Montserrat';
		src: url('/fonts/Montserrat/Montserrat-RegularItalic.ttf') format('opentype');
		font-weight: italic;
		font-style: italic;
	}

	@font-face {
		font-family: 'Montserrat';
		src: url('/fonts/Montserrat/Montserrat-RegularItalic.ttf') format('opentype');
		font-weight: 400;
		font-style: italic;
	}

	@font-face {
		font-family: 'Montserrat';
		src: url('/fonts/Montserrat/Montserrat-MediumItalic.ttf') format('opentype');
		font-weight: 500;
		font-style: italic;
	}
	@font-face {
		font-family: 'Montserrat';
		src: url('/fonts/Montserrat/Montserrat-SemiBoldItalic.ttf') format('opentype');
		font-weight: 600;
		font-style: italic;
	}

	@font-face {
		font-family: 'Montserrat';
		src: url('/fonts/Montserrat/Montserrat-BoldItalic.ttf') format('opentype');
		font-weight: 700;
		font-style: italic;
	}

	@font-face {
		font-family: 'Montserrat';
		src: url('/fonts/Montserrat/Montserrat-ExtraBoldItalic.ttf') format('opentype');
		font-weight: 800;
		font-style: italic;
	}

	@font-face {
		font-family: 'Montserrat';
		src: url('/fonts/Montserrat/Montserrat-BlackItalic.ttf') format('opentype');
		font-weight: 900;
		font-style: italic;
	}
}

@layer utilities {
	@keyframes draw {
		from {
			stroke-dashoffset: 10000;
		}
		to {
			stroke-dashoffset: 0;
		}
	}

	@keyframes fadeOut {
		0% {
			opacity: 1;
		}
		100% {
			opacity: 0;
		}
	}

	.path {
		stroke-dasharray: 2000;
		stroke-dashoffset: 4000;
		animation: draw 80s linear infinite;
	}
}

/* Apply to all scrollbars globally */
::-webkit-scrollbar {
	width: 8px; /* Adjust scrollbar width */
	height: 8px; /* Adjust horizontal scrollbar height */
}

::-webkit-scrollbar-track {
	background: transparent; /* No background */
}

::-webkit-scrollbar-thumb {
	background-color: #222731; /* Dark grey thumb */
	border-radius: 4px; /* Rounded edges for a smoother look */
}

::-webkit-scrollbar-thumb:hover {
	background-color: #1a1f24; /* Slightly darker shade on hover */
}

.navbarTogglerActive > span:nth-child(1) {
	@apply translate-y-[10px] rotate-45 opacity-90 transition-all duration-500 ease-in-out;
}

.navbarTogglerActive > span:nth-child(2) {
	@apply opacity-0;
}

.navbarTogglerActive > span:nth-child(3) {
	@apply -translate-y-[6px] rotate-[-45deg] opacity-90 transition-all duration-500 ease-in-out;
}

.btn {
	@apply inline-flex items-center justify-center outline-none cursor-pointer transition duration-200 hover:drop-shadow-[#B8E3E9] rounded;
}

.btn-primary {
	@apply uppercase tracking-wider rounded-lg bg-dark-4 dark:bg-primary text-powder dark:text-navy hover:bg-dark hover:shadow-dark-6/60  hover:shadow-md;
}

.btn-secondary {
	@apply uppercase tracking-wider rounded-lg border border-primary bg-transparent text-navy hover:bg-primary/90;
}

.btn-xl {
	@apply gap-2 py-4 px-10 text-sm font-semibold uppercase tracking-wider;
}

.btn-large {
	@apply gap-5 py-3.5 px-8 text-sm font-semibold uppercase tracking-wider;
}

.btn-small {
	@apply py-2.5 px-4 gap-2 text-xs uppercase font-medium tracking-wider;
}

.btn-xs {
	@apply py-1 px-2 text-sm gap-1 font-medium tracking-wider;
}
